sphinx-rtd-theme
sphinx-autodoc-typehints==2.3.0; python_version < '3.11'
sphinx-autodoc-typehints==3.8.0; python_version >= '3.11'
-r ../requirements.txt
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
