sphinx-rtd-theme
git+https://github.com/hostcc/iec62056-21.git@feature/transport-improvements
aiomqtt
pyyaml
schema
addict
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
python-dateutil
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
