sphinx-rtd-theme
sphinx-autodoc-typehints==2.3.0
-r ../requirements.txt
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
